<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abo.dao.WeibuUserDao">


    <select id="selectUserByPhoneAndPwd" resultType="WeibuUser">
        select *
        from weibu_user
        where
          app_name = #{app_name}
        and password = md5(#{password})
        and phone = #{phone}
    </select>

</mapper>